<div id="<%= dom_id group %>">
  <div class="card_header">
    
    <%= group.name %>
  </div>
  <div class="card_contents">
  <p>
    <%= group.location %>
  </p>

  <p>
    <%= group.description %>
  </p>

  </div>

</div>
