<h1>Editing play session</h1>

<%= render "form", play_session: @play_session %>

<br>

<div>
  <%= link_to "Show this play session", @play_session %> |
  <%= link_to "Back to play sessions", play_sessions_path %>
</div>
